<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>品牌列表案例</title>
		<script src="vue.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap.css" />
	</head>
	<body>
		<div id="app">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">添加品牌</h3>
				</div>
				<div class="panel-body form-inline">
					<label>
						Id:
						<input type="text" class="form-control" v-model="id" />
					</label>
					<label>
						Name:
						<input type="text" class="form-control" v-model="name" @keyup.enter="add"/>
					</label>

					<!-- 在vue中，使用事件绑定，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了 -->
					<input type="button" value="添加" class="btn btn-primary" @click="add()" />

					<label>
						搜索关键字:
						<!-- 注意：Vue中所有的指令，在调用的时候都以 v-k 开头 -->
						<input type="text" class="form-control" v-model="keywords" v-focus v-color="'red'"/>
					</label>
				</div>
			</div>

			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<td>id</td>
						<td>name</td>
						<td>ctime</td>
						<td>operation</td>
					</tr>
				</thead>
				<tbody>
					<!-- 每次要从原数组进行筛选，出新数组，能实现搜索的功能
					 通过search()返回新数组，重写渲染
					 -->
					<tr v-for="item in search(keywords)" :key="item.id">
						<td>{{item.id}}</td>
						<td v-text="item.name"></td>
						<td>{{item.ctime | dataFormat() }}</td>
						<td>
							<a href="" @click.prevent="del(item.id)">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		
		<script type="text/javascript">
			
			Vue.directive('focus',{
			     bind:function(el){ // 每当指令绑定到元素上的时候,会立即执行这个bind函数,只执行一次
				 // 在元素 刚绑定到指令的时候,还没有 插入到Dom中,这时候 调用focus方法没有作用
				 // 只有当一个元素 插入DOM,之后获取焦点
					// el.focus()
				 },
				 // 行为相关的设置到inserted()中
				 inserted:function(el){ //inserted 表示元素 插入到DOM元素的时候,会执行inserted函数
					  el.focus();
				 },
				 updated:function(){ // 当Vnode更新的时候,会执行 updated 可能会触发多次
					 
				 }
			});
			
			//自定义一个 设置字体颜色
			// Vue.directive('color',{
			// 	 // 样式相关的设置到bind()中
			// 	bind:function(el,binding){
			// 		el.style.color=binding.value;
			// 		// 指令名称
			// 		// console.log(binding.name);
			// 		// 指令绑定值   v-color='1+1' value 值为 2 
			// 		// console.log(binding.value);
			// 		// 绑定值字符串形式 v-color='1+1' value 值为 '1+1'
			// 		// console.log(binding.expression);
			// 	}
			// });
			
			var vue = new Vue({
				el: "#app",
				data: {
					list: [{
							id: 1,
							name: '宝马',
							ctime: new Date()
						},
						{
							id: 2,
							name: '奔驰',
							ctime: new Date()
						}
					],
					id: '',
					name: '',
					keywords: ''
				},
				methods: {
					add() {
						this.list.push({
							id: this.id,
							name: this.name,
							ctime: new Date()
						});
						this.id = this.name = '';
					},
					del(id) {
						//分析:
						//根据id 找到该对象在数组中的索引
						//找到了索引就删除 使用数组 操作函数 splice 方法

						// => es6中的语法 箭头函数 也就是匿名函数的简写
						// this.list.some((item,i) => {
						// 	if(item.id==id){
						// 	this.list.splice(i,1)
						// 		return true;
						// 	}
						// })

						var index = this.list.findIndex(item => {
							if (item.id == id) {
								return true;
							}
						});
						// alert(index);
						this.list.splice(index, 1);
					},
					search(keywords) {
						// var newList=[];
						// this.list.forEach(item => {
						// 	// keywords 为null 全部找到
						// 	if(item.name.indexOf(keywords)!=-1){
						// 		newList.push(item)
						// 	}
						// });
						// return newList;

						// 注意 forEach some filter findIndex  数组新方法

						// filter 返回新数组
						var newList = this.list.filter(item => {
							if (item.name.includes(keywords)) {
								return true;
							}
						});
						return newList;
					},
				},
				filters: {
					dataFormat: function(dataStr, pattern='') {
						var dt = new Date(dataStr);
						// yyyy-MM-dd
						var year = dt.getFullYear();
						var m = (dt.getMonth() + 1).toString().padStart(2,'0');
						var d = dt.getDate().toString().padStart(2,'0');;

						// var falg=false
						// return year+'-'+m+'-'+d;
						// 模板字符串 用反单引号 `` 用${} 获取相关数据
						// return `${falg?'':year}-${m}-${d}`;
						if (pattern.toLowerCase() === 'yyyy-mm-dd') {
							return `${year}-${m}-${d}`;
						} else {
							
							// ES6 中的字符串新方法String.prototype.padStart(length,'') 
							//  length 为填充后的字符串长度 '0' 表示用零填充
							// padEnd() 后填充
							var hh = dt.getHours().toString().padStart(2,'0');
							var mm = dt.getMinutes().toString().padStart(2,'0');
							var ss = dt.getSeconds().toString().padStart(2,'0');
                           return `${year}-${m}-${d} ${hh}:${mm}:${ss}`;
						}
					}
				},
				// 私有自定义命令
				directives:{
					// 钩子函数 简写方式 自动将函数内容放到 bind updated
					"color":function(el,binding){
						el.style.color=binding.value;
						// console.log(parseInt(binding.value));
						// el.style.fontSize=parseInt(binding.value)+'px';
					}
				}

			});

 
            // 自定义指令 使用 Vue.directive() 定义全局的指令 v-focus
			// 其中:参数1: 指令的名称,注意:在定义的时候,指令的名称前面不需要加 v- 前缀
			// 但是调用的时候,需要加v- 前缀
			// 参数2:是一个对象,这个对象身上,有一些相关的函数,这些函数可以在特定的阶段,执行相关操作
               // 自定义按键修饰符
              // Vue.config.keyCodes.f2=113;

			// Vue.filter("过滤器名称",function(){});
			//  过滤器
			// Vue.filter("过滤器名称",function(data){
			// });
		</script>

	</body>
</html>


<!-- 过滤器调用时候的格式 {{ name | nameope }} -->
